[mysqld]
max_connections = 10
query_cache_size = 8M
query_cache_type = 1
query_cache_limit = 2M

max_allowed_packet = 512M
wait_timeout = 600

sort_buffer_size = 1M
join_buffer_size = 8M
bulk_insert_buffer_size = 64M

# innodb settings
innodb_data_home_dir = /usr/local/var/mysql
innodb_data_file_path = ibdata1:10M:autoextend:max:5G
innodb_log_group_home_dir = /usr/local/var/mysql

innodb_buffer_pool_size = 512M
innodb_additional_mem_pool_size = 64M

innodb_log_file_size = 128M
innodb_log_buffer_size = 16M
innodb_flush_log_at_trx_commit = 0
innodb_lock_wait_timeout = 50
